/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
body {
  margin: 0;
}

/* reset ul */
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

/* ----Custom properties ---- */
:root {
  /* Colors */
  --pink: #fda4af;
  --black: #080001;
  --green: #6ee7b7;
  --grey: #eeeeee;
  --blue: #0c4a6e;
  --white: #ffffff;

  /* font-sizes */
  font-size: 16px;
  --fs-1: ;
  --fs-2: ;
  --fs-3: ;
  --fs-4: ;
  --fs-5: ;
  --fs-6: ;

  /* font-families */
  --ff-inter: "Inter", sans-serif;
  --ff-timer: "alarm_clockregular", Arial, sans-serif;
}

/*ultilities*/
.flex {
  display: flex;
}

.grid {
  display: grid;
}

body {
  margin: 0;
  background-color: var(--blue);
  color: var(--grey);
}

h2 {
  font-family: var(--ff-timer);
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: space-around;
}

.scoreboard-container {
  display: grid;
  max-width: 1440px;
  margin-inline: auto;
  padding: 4em;
  grid-template-columns: repeat(3, 1fr); /* Three columns on top */
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
}

.timer {
  min-width: 300px;
}

.winner {
  grid-column: 1 / span 3;
}

@media (max-width: 780px) {
  .scoreboard-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    padding: 2em;
  }

  .home {
    grid-column: 1 / span 3;
  }
  .timer {
    grid-column: 1 / span 3;
  }
  .guest {
    grid-column: 1 / span 3;
  }
}
